<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", :aboutpage %></li>
      <li><%= link_to "Contact", :contactpage %></li>
      <li><%= link_to "News", :newspage %></li>
    </ul>
  </nav>
</footer>