<% if user_signed_in? %>
  <ul id="sidebarnav">
  	  <li>
	  	<%= link_to('Dashboard', root_path )  %>
	  </li>
	  <li>
	  	<%= link_to('Clients', clients_path )  %>
	  </li>
	  <li>
	  	<%= link_to('Installations', installations_path )  %>
	  </li>
	  <li>
	  	<%= link_to('Installers', installers_path )  %>
	  </li>
  </ul>
<% end %>