<h1>Clients  <%= link_to 'New Client', new_client_path, :class => "button" %></h1>
<div id="clients">
    <%= render :partial => 'clients/clients', %>
</div>
  
<script type="text/javascript">
$(document).ready(function() {
  var page = 1;
  loading = false;

  $('#more_button').click(function() {
      loading=true;
      page++;
      
      $('#more_button').hide();
      $.ajax({
        url: '/clients?page=' + page,
        type: 'get',
        dataType: 'script',
        loading: $('#loading_more').show(),
        complete: function(){
        			$('#loading_more').hide();
        			$('#more_button').show();
     			 },
        success: function() {
          $(window).sausage('draw');
          loading=false;
        }
      });
  });


  $(window).sausage();
});
</script>