<h1>Clients  <%= link_to 'New Client', new_client_path, :class => "button" %></h1>
<div id="clients">
<% if @clients.empty? %>
	<h3>
	<span class="blank_slate">
		There are no Clients yet. <%= link_to 'Create One', new_client_path %>
	</span>
	</h3>
<% else %>
  <div class="page">
    <%= render @clients %>
  </div>
</div>
<div id="feed_loader" class="loader" style="display:none;">Loading more ...</div>
<% end %>
  
<script type="text/javascript">
(function() {
  var page = 1,
      loading = false;

  function nearBottomOfPage() {
    return $(window).scrollTop() > $(document).height() - $(window).height() - 200;
  }

  $(window).scroll(function(){
    if (loading) {
      return;
    }

    if(nearBottomOfPage()) {
      loading=true;
      page++;
      $.ajax({
        url: '/clients?page=' + page,
        type: 'get',
        dataType: 'script',
        loading: $('#feed_loader').show(),
        complete: function(){
        			$('#feed_loader').hide();$('#load_button').show();
     			 },
        success: function() {
          $(window).sausage('draw');
          loading=false;
        }
      });
    }
  });

  $(window).sausage();
}());
</script>