<h1> About Us </h1>
<p>
	<b>MoSeller is a virtual product selling machine!</b>
</p>

<section class="column inner">
		<h2 id="prototypes">How does <em>MoSeller</em> work?</h2>
          <p>
          At MoSeller we believe in sharing, we give you 50% of our margin on any
          product you sell. We help you make money.
        </p>
          <h2><em>Convienience</em> is King!</h2>
          <p>
          You can use MoSeller straight from your mobile phone or you personal computer
          no need for terminals or going down to the store.
        </p>
          <h2>How do I make <em>payment</em>?</h2>
          <p>
          We offer two types of account, one credit account and one pay up front account.
          If you choose the Credit Account we need payment at the end of the month for all orders
          placed during and up until the last day of that month. With the "Up Front" option you
          can decide how much to buy.
        </p>
</section>

<section class="column inner">
          <h2>How do I <em>sign up</em>?</h2>
          <p>
          MoSeller is not yet open for public sign ups, we are just formalizing our payment gateway
          but you can drop the HeadHancho an email at headhancho@moseller.com. We will then contact 
          you can process our applicaiton.
        </p>
          <h2>What can I <em>sell</em>?</h2>
          <p>
          We are starting off small and at the moment our resellers can only resell airtime. We are 
          setting our sights on Electricity and Tickets. So there will be big offerings coming soon.
        </p>
</section>

<div class="clearer"></div>

<h3><a id="airtime_link" href="">A little airtime guide</a> <-(click me)</h3>

<section id="airtime_guide" class="airtime" style="display:none;">

	<article class="airtime column">
		<h4>Vodacom Voucher</h4>	
		*100*01*(voucher pin)#
		<br>
		Hit call on your phone
	</article>
	
	<article class="airtime column">
		<h4>MTN Voucher</h4>
		*141*(voucher pin)#
		<br>
		Hit call on your phone
	</article>

	<article class="airtime column">
		<h4>CELLC Voucher</h4>
		*102*(voucher pin)#
		<br>
		Hit call on your phone
	</article>
</section>

<div class="clearer"></div>

<script>
    $("#airtime_link").click(function () {
		$("#airtime_guide").slideToggle("slow");
		return false;
    });
</script>

