<h1>Latest News</h1>
<p>
	<h3><em>04 December 2011:</em> PDF Printable Vouchers</h3>
	
	You can now get your vouchers in a nice printable format <br>
	Need to capture some notes on an order, easy with the new comments block on orders<br>
	

	<h3><em>04 November 2011:</em> New Order Stats</h3>
	
	Added Order stats to View Order page <br>
	You can now see the full and cost totals per order <br>
	Upgrade logo and favicon <br>
	

	<h3><em>01 November 2011:</em> New Features released</h3>
	
	Order status added to the view orders <br>
	New view order layout <br>
	All round tidying up on font and layout 
	
	<h3><em>06 October 2011:</em> Launch at Lunch </h3>
	
	MoSeller is born!
</p>