/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body {
    background: #DFEEF6;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    padding-top: 40px;
}
header
{
    background-color: #008DB8;
    background-image: -moz-linear-gradient(#00A0D1, #008DB8);
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    clear: both;
    height: 60px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}

section {
  margin-top: 1em;
  font-size: 110%;
  padding: 20px;
  background: #fff;
}

em{
    color: #00A0D1;
    font-style: normal;
}

ul {
	list-style-type: none !important;
}

#logo {
    color: #FFFFFF;
    float: left;
    font: 900 45px sommet-slab,kulturista-web,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: -1px;
    margin: 0px 0 30px -4px;
    padding-left: 20px;
    text-decoration: none;
    text-shadow: 0 2px 2px #39677F;	
}

#container {
	width: 100%;
}

#search {
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
    color: #38678B;
    font-size: 20px;
    height: 21px;	
    padding: 30px 40px
}

#sidebar {
	padding-left: 30px;
	padding-top: 30px;	
	width: 20%;
}

#main {
	padding-top: 30px;
	width: 70%;
}

/* Links */
a {
  color: #069;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

#logo a {
	color: #FFF;
}

#logo a:hover {
  text-decoration: none;
  text-shadow: 0 4px 4px #000;	
  -moz-transition: opacity 0.25s linear 0s;
}

/* Navigation */
nav {
  float: right;
}

nav {
  color: white;
  line-height: 30px;
  letter-spacing: -1px;
  text-decoration: none;
  text-shadow: 0 2px 2px #39677F;	
  padding: 10px 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  color: #FFF !important;
  padding: 5px 5px;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

ul#sidebarnav {
	padding-left: 0px;
}

ul#sidebarnav li {
	font-size: 13px;
	line-height: 29px;
    opacity: 1;
    padding-left: 10px;
}

ul#sidebarnav li a {
	text-decoration: none;
}

ul#sidebarnav li:hover {
	background-color: #EEEEEE;
}

/* Forms */

input {
	border: medium none;
	line-height: 17px !important; 
    left: 0;
    margin: 0;
    outline: medium none;
}
#search .label {
	padding-right: 170px;	
}

input#search {
	border: 1px solid #CCC;
	background-color: #FFF;
	font-size: 14px;
	height: 27px;
	padding: 0px 10px;
	width: 450px;
	-moz-box-sizing: content-box;
    -moz-padding-end: 0;
    -moz-padding-start: 0;
}

#search input[type="submit"]  {
	background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    border-radius: 3px;
	font-size: 14px;
	padding: 5px 10px;
}

.field {
	padding: 10px 0px;
}

.actions {
	float: left;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

footer nav ul li a {
	color: #069;
}

footer a:visited {
	color: #069;
}

/* Table */
th {
    background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #EDEDED;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #5E6469;
    font-size: 1em;
    font-weight: bold;
    line-height: 140%;
    margin-bottom: 0.5em;
    padding: 5px 12px 3px;
    text-align: left;
    text-shadow: 0 1px 0 white;
    vertical-align: middle !important;	
}

tr {
	border-bottom: 1px solid #DFE1E2 !important;
	line-height: 30px;
}

tr.odd { background: none repeat scroll 0 0 #F5F5F5; }

.attributes_table table th, .attributes_table table td {
    border-bottom: 1px solid #E8E8E8;
    padding: 8px 12px 6px;
}

/* All Purpose */
.error, .alert, .notice, .success, .info, #error_explanation, .print_pdf_button  {border-radius: 4px 4px 4px 4px;border-style: solid;border-width: 1px;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;color:#FFF;padding:0.8em;margin-bottom:1em;}
.error, .alert, #error_explanation {background-color: #C43C35;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.notice, .infom, .print_pdf_button {    background-color: #339BB9;
    background-image: -moz-linear-gradient(center top , #5BC0DE, #339BB9);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.success {background-color: #57A957;
    background-image: -moz-linear-gradient(center top , #62C462, #57A957);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}
.clearer {clear:both;}
.column{float: left;}
.blank_slate {
    border: 1px dashed #DADADA;
    border-radius: 3px 3px 3px 3px;
    color: #AAAAAA;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 14px 25px;
    text-align: center;
}
