/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/
body {
	background: none repeat scroll 0 0 #FFFFFF;
    color: #323537;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 72%;
    line-height: 150%;
    padding: 0px;
    margin: 0px; 
}

header
{
    background-color: #008DB8;
    background-image: -moz-linear-gradient(#00A0D1, #008DB8);
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    clear: both;
    height: 60px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}

section {
  margin-top: 1em;
  font-size: 110%;
  padding: 20px;
  background: #fff;
}

em{
    color: #00A0D1;
    font-style: normal;
}

ul {
	list-style-type: none !important;
}

#logo {
    color: #FFFFFF;
    float: left;
    font: 900 45px sommet-slab,kulturista-web,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: -1px;
    margin: 0px 0 30px -4px;
    padding-left: 20px;
    text-decoration: none;
    text-shadow: 0 2px 2px #39677F;	
}

#container {
	width: 100%;
}

#search {
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
    color: #38678B;
    font-size: 20px;
    height: 21px;	
    padding: 30px 40px
}

#sidebar {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;	
	width: 18%;
}

#main {
	padding-top: 15px;
	width: 70%;
}

/* Links */
a {
  color: #069;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

#logo a {
	color: #FFF;
}

#logo a:hover {
  text-decoration: none;
  text-shadow: 0 4px 4px #000;	
  -moz-transition: opacity 0.25s linear 0s;
}

a.button {
	background-color: #67B0EF;
    border: 1px solid #466A98;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF !important;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px 6px;
    text-decoration: none;
	}
.show_page_buttons {
	float: right;
	}

/* Navigation */
nav {
  float: right;
}

nav {
  color: white;
  line-height: 30px;
  letter-spacing: -1px;
  text-decoration: none;
  padding: 10px 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  color: #FFF !important;
  padding: 5px 5px;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

ul#sidebarnav {
	padding-left: 0px;
}

ul#sidebarnav li {
	font-size: 13px;
	line-height: 29px;
    opacity: 1;
    padding-left: 10px;
}

ul#sidebarnav li a {
	text-decoration: none;
}

ul#sidebarnav li:hover {
	background-color: #EEEEEE;
}


/* Forms */
form ul, form ol, form li, form fieldset, form legend, form input, form textarea, form select, form p {
    margin: 0;
    padding: 0;
}
form ol, form ul {
    list-style: none outside none;
}
form fieldset {
    border: 0 none;
    margin-bottom: 20px;
    padding: 10px 0;
}
form fieldset.inputs {
    background: none repeat scroll 0 0 #F4F4F4;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px #DDDDDD inset;
}
form fieldset legend {
    width: 100%;
}
form fieldset legend span {
    background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #EDEDED;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #5E6469;
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 140%;
    margin-bottom: 0.5em;
    padding: 5px 10px 3px;
    text-shadow: 0 1px 0 white;
}
form fieldset legend span span.icon svg path, form fieldset legend span span.icon svg polygon, form fieldset legend span span.icon svg rect, form fieldset legend span span.icon svg circle {
    fill: #5E6469 !important;
}
form fieldset legend span span.icon {
    height: 1em;
    width: 1em;
}
form fieldset legend span span.icon svg {
    height: 1em;
    width: 1em;
}
form fieldset legend span span.icon {
    margin-right: 5px;
}
form fieldset ol > li {
    padding: 10px;
}
form fieldset ol > li label {
    color: #5E6469;
    display: block;
    float: left;
    font-size: 1em;
    font-weight: bold;
    width: 20%;
}
form fieldset ol > li label abbr {
    border: medium none;
    color: #AAAAAA;
}
form fieldset ol > li > li label {
    line-height: 100%;
    padding-top: 0;
}
form fieldset ol > li > li label input {
    line-height: 100%;
    margin-top: -0.1em;
    vertical-align: middle;
}
form fieldset > ol > li fieldset {
    margin-bottom: 0;
    padding: 0;
    position: relative;
}
form fieldset > ol > li fieldset legend {
    font-size: 100%;
    font-weight: normal;
    left: 0;
    padding-top: 0.1em;
    position: absolute;
    width: 95%;
}
form fieldset > ol > li fieldset legend span {
    position: absolute;
}
form fieldset > ol > li fieldset legend.label label {
    position: absolute;
}
form fieldset > ol > li fieldset ol {
    float: left;
    margin: 0;
    padding: 0 0 0 20%;
    width: 74%;
}
form fieldset > ol > li fieldset ol li {
    border: 0 none;
    padding: 0;
}
form input[type="text"], form input[type="password"], form input[type="email"], form input[type="url"], form input[type="tel"], form textarea {
    border: 1px solid #C9D0D6;
    border-radius: 3px 3px 3px 3px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 0.95em;
    outline: medium none;
    padding: 8px 10px 7px;
    width: 76%;
}
form input[type="text"]:focus, form input[type="password"]:focus, form input[type="email"]:focus, form input[type="url"]:focus, form input[type="tel"]:focus, form textarea:focus {
    border: 1px solid #99A2AA;
    box-shadow: 0 0 4px #99A2AA;
}
form fieldset > ol > li {
}
form fieldset > ol > li p.inline-hints {
    color: #666666;
    font-size: 0.95em;
    font-style: italic;
    margin: 0.5em 0 0 20%;
}
form fieldset > ol > li.date fieldset ol li, form fieldset > ol > li.time fieldset ol li, form fieldset > ol > li.datetime fieldset ol li {
    float: left;
    margin: 0 0.5em 0 0;
    width: auto;
}
form fieldset > ol > li.date fieldset ol li label, form fieldset > ol > li.time fieldset ol li label, form fieldset > ol > li.datetime fieldset ol li label {
    display: none;
}
form fieldset > ol > li.date fieldset ol li input, form fieldset > ol > li.time fieldset ol li input, form fieldset > ol > li.datetime fieldset ol li input {
    display: inline;
    margin: 0;
    padding: 0;
}
form fieldset > ol > li.check_boxes fieldset ol, form fieldset > ol > li.radio fieldset ol {
    margin-bottom: -0.6em;
}
form fieldset > ol > li.check_boxes fieldset ol li, form fieldset > ol > li.radio fieldset ol li {
    margin: 0.1em 0 0.5em;
}
form fieldset > ol > li.check_boxes fieldset ol li label, form fieldset > ol > li.radio fieldset ol li label {
    float: none;
    width: 100%;
}
form fieldset > ol > li.check_boxes fieldset ol li label input, form fieldset > ol > li.radio fieldset ol li label input {
    margin-right: 0.2em;
}
form fieldset > ol > li.boolean {
    height: 1.1em;
}
form fieldset > ol > li.boolean label {
    font-weight: normal;
    padding-left: 20%;
    padding-right: 10px;
    text-transform: none !important;
    width: 100%;
}
form fieldset > ol > li.boolean label input {
    margin: 0 0.5em 0 0.2em;
}
form fieldset > ol > li.hidden {
    display: none;
}
form fieldset > ol > li p.inline-errors {
    color: #932419;
    font-weight: bold;
    margin: 0.3em 0 0 20%;
    text-transform: capitalize;
}
form fieldset > ol > li ul.errors {
    color: #932419;
    list-style: square outside none;
    margin: 0.5em 0 0 20%;
}
form fieldset > ol > li ul.errors li {
    border: medium none;
    display: list-item;
    padding: 0;
}
form fieldset > ol > li.error input[type="text"], form fieldset > ol > li.error input[type="password"], form fieldset > ol > li.error input[type="email"], form fieldset > ol > li.error input[type="url"], form fieldset > ol > li.error input[type="tel"], form fieldset > ol > li.error textarea {
    border: 1px solid #932419;
}
form input[type="submit"], div.panel_contents input[type="submit"]{
	background-color: #67B0EF;
    border: 1px solid #466A98;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF !important;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px 6px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #003366;		
}
form input[type="submit"]:hover, .button:hover {
    box-shadow: 0 1px 3px #888888;
    color: #FFFFFF;
}
form input[type="submit"]:hover span.icon svg path, form input[type="submit"]:hover span.icon svg polygon, form input[type="submit"]:hover span.icon svg rect, form input[type="submit"]:hover span.icon svg circle {
    fill: white !important;
}
form input[type="submit"]:active, .button:active {
    box-shadow: 0 1px 2px black inset;
}
form .buttons {
    margin-top: 15px;
}
form .buttons input[type="submit"] {
    margin-right: 10px;
}
form fieldset.buttons li {
    float: left;
    padding-right: 0.5em;
    padding-top: 0;
}
form fieldset.buttons li.cancel {
    margin-left: 0.3em;
    padding: 5px;
}
form fieldset.buttons li.cancel a {
    background: -moz-linear-gradient(-90deg, #F9F9F9, #DDDBDB) repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #777777;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 3px;
    padding: 9px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
}
form fieldset.buttons li.cancel a:hover {
    box-shadow: 0 1px 3px #888888;
    color: #FFFFFF;
}
form fieldset.buttons li.cancel a:hover span.icon svg path, form fieldset.buttons li.cancel a:hover span.icon svg polygon, form fieldset.buttons li.cancel a:hover span.icon svg rect, form fieldset.buttons li.cancel a:hover span.icon svg circle {
    fill: white !important;
}
form fieldset.buttons li.cancel a:active {
    box-shadow: 0 1px 2px black inset;
}
form fieldset.buttons li.cancel a:hover {
    color: #444444;
}
form fieldset.buttons li.cancel a:hover span.icon svg path, form fieldset.buttons li.cancel a:hover span.icon svg polygon, form fieldset.buttons li.cancel a:hover span.icon svg rect, form fieldset.buttons li.cancel a:hover span.icon svg circle {
    fill: #444444 !important;
}
form fieldset.buttons li.cancel a:active {
    box-shadow: 0 1px 2px #AAAAAA inset;
}
form fieldset.buttons li.cancel a span.icon svg path, form fieldset.buttons li.cancel a span.icon svg polygon, form fieldset.buttons li.cancel a span.icon svg rect, form fieldset.buttons li.cancel a span.icon svg circle {
    fill: #777777 !important;
}
form fieldset.buttons li.cancel a span.icon {
    height: 9px;
    width: 9px;
}
form fieldset.buttons li.cancel a span.icon svg {
    height: 9px;
    width: 9px;
}
input {
	border: medium none;
	line-height: 17px !important; 
    left: 0;
    margin: 0;
    outline: medium none;
}
#search .label {
	padding-right: 15%;	
}

input#search {
	border: 1px solid #CCC;
	background-color: #FFF;
	font-size: 14px;
	height: 27px;
	padding: 5px 10px;
	width: 450px;
	-moz-box-sizing: content-box;
    -moz-padding-end: 0;
    -moz-padding-start: 0;
}

#search input[type="submit"]  {
	background: -moz-linear-gradient(center top , #67B0EF, #2B5EA4) repeat scroll 0 0 transparent;
    border: 1px solid #466A98;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #003366;	
}

.field {
	padding: 10px 0px;
}

.actions {
	float: left;
}

/* Feeds */
.feed {
	font-size: 14px;
	padding: 10px 0px;
	}
.loader {
	background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #5E6469;
    border-radius: 4px 4px 4px 4px;
    color: #5E6469 !important;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px 6px;
    text-align:center;
    text-decoration: none;
	}
 .feed_button {
	background: -moz-linear-gradient(center top , #CCCCCC, #2B5EA4) repeat scroll 0 0 transparent;
    border: 1px solid #466A98;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF !important;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px 6px;
    text-align:center;
    text-decoration: none;
    text-shadow: 0 -1px 0 #003366;
	}
.feed_installation_blank {
    border: 1px dashed #DADADA;
    border-radius: 3px 3px 3px 3px;
    color: #AAAAAA;
    display: inline-block;
    font-weight: bold;
    padding: 14px 25px;
    margin: 5px 0px;
    text-align: center;
	}

/* Footer */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

footer nav ul li a {
	color: #069;
}

footer a:visited {
	color: #069;
}


/* Table */
table {
    border: 0 none;
    border-spacing: 0;
    margin-bottom: 10px;
    width: 100%;
}

th {
    background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #EDEDED;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #5E6469;
    font-size: 1em;
    font-weight: bold;
    line-height: 140%;
    margin-bottom: 0.5em;
    padding: 5px 12px 3px;
    text-align: left;
    text-shadow: 0 1px 0 white;
    vertical-align: middle !important;	
}

tr {
	border-bottom: 1px solid #DFE1E2 !important;
	line-height: 30px;
}

tr.odd { background: none repeat scroll 0 0 #F5F5F5; }

.attributes_table table th, .attributes_table table td {
    border-bottom: 1px solid #E8E8E8;
    padding: 8px 12px 6px;
    vertical-align: top;
}
.attributes_table table th {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    color: #5E6469;
    font-size: 0.9em;
    padding-left: 0;
    text-shadow: 0 1px 0 white;
    text-transform: uppercase;
    width: 150px;
}
.attributes_table table td .empty {
    color: #BBBBBB;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/* Errors */
#errorExplanation {
	border: 2px solid #C43C35;
    margin-bottom: 10px;
    }
    
#errorExplanation h2 {
	background-color: #C43C35;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
    background-repeat: repeat-x;
    color: #fff;
    padding: 5px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
	
/* Panel */
.section, .panel {
    background: none repeat scroll 0 0 #F4F4F4;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px #DDDDDD inset;
    margin-bottom: 20px;
}
.section > div, .panel > div {
    padding: 3px 15px 15px;
}
.section h3, .panel h3, fieldset.inputs legend h3 {
    background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #EDEDED;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #5E6469;
    font-size: 1em;
    font-weight: bold;
    line-height: 140%;
    margin-bottom: 0.5em;
    padding: 5px 10px 3px;
    text-shadow: 0 1px 0 white;
}
.panel_body {
	padding: 10px;
	}
	
/* Comment */
.comment {
	padding-bottom: 5px;
	}
.comment_body {
	font-family: Arial,"Helvetica Neue",sans-serif;
	font-size: 15px;
    line-height: 19px;
    padding: 0;
    word-wrap: break-word;
	}
.comment_metadata {
    color: #999999;
    font-size: 12px;
	}
.comment_remove {
	padding-left: 20px;
	}

/* Pagination */
.pagination {
	float: right;
	padding: 8px 5px;
	}
.pagination a {
	background: -moz-linear-gradient(-90deg, #F9F9F9, #DDDBDB) repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #777777;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 3px;
    padding: 0.4em 1.2em 0.3em 1.1em;
    text-decoration: none;
    text-shadow: 0 1px 0 white;	
	}	
.pagination a:active {
	 box-shadow: 0 1px 2px #AAAAAA inset;
	}
.pagination a:hover{
	box-shadow: 0 1px 3px #888888;
	color: #414549;
	}
em.current {
 	background: -moz-linear-gradient(center top , #67B0EF, #2B5EA4) repeat scroll 0 0 transparent;
    border: 1px solid #466A98;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #EFEFEF;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 3px;
    padding: 0.4em 1.2em 0.3em 1.1em;
    text-decoration: none;
    text-shadow: 0 1px 0 black;	
	}
	
/* All Purpose */
.error, .alert, .notice, .success, .info, #error_explanation, .print_pdf_button  {border-radius: 4px 4px 4px 4px;border-style: solid;border-width: 1px;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;color:#FFF;padding:0.8em;margin-bottom:1em;}
.error, .alert, #error_explanation {background-color: #C43C35;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.notice, .infom, .print_pdf_button {    background-color: #339BB9;
    background-image: -moz-linear-gradient(center top , #5BC0DE, #339BB9);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.success {background-color: #57A957;
    background-image: -moz-linear-gradient(center top , #62C462, #57A957);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}
.clearer {clear:both;}
.column{float: left;}
.blank_slate {
    border: 1px dashed #DADADA;
    border-radius: 3px 3px 3px 3px;
    color: #AAAAAA;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 14px 25px;
    text-align: center;
}
